#logo2 {
  max-width: 300px;
}
.noUnderline {
  text-decoration: none;
  color: #4c4c4c;
}
.footer-logo-container {
  min-width: 500px;
}
.footer-wrapper {
  margin: 3rem 0rem;
  display: flex;
  margin-top: 8rem;
  margin-bottom: 0rem;
}
.footer-icons {
  margin-top: 2.5rem;
}
.footer-icons svg {
  font-size: 1.5rem;
  margin-right: 1.25rem;
  color: #585858;
}
/* .footer-section-one {
  border: 2px solid black;
} */
.footer-section-two {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding-left: 50px;
}
.footer-section-columns {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  margin-top: 30px;
}
.footer-section-columns span {
  margin: 0.25rem 0rem;
  font-weight: 600;
  color: #4c4c4c;
  cursor: pointer;
}
