.AboutPage {
  width: 85vw;
  max-width: 1900px;
  /* margin-top: 2rem; */
  margin: 0rem auto;
  min-height: 100vh;
}
.primary-heading-aboutPage {
  text-align: center;
  padding: 20px;
  font-size: clamp(2rem, 4vw, 4rem);
}
.aboutPage-section-container {
  padding-top: 50px;
}
.aboutPage-primary-text {
  display: flex;
  align-items: center;
  /* text-align: center; */
  justify-content: center;
  flex-direction: column;
  font-size: clamp(1rem, 3vw, 1.5rem);
  max-width: 500px;
  color: #000000;
  margin: 1.5rem 0rem;
}
.aboutPage-section-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutPage-section-text-container {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
}
.aboutPage-secondary-button {
  align-items: center;
  display: flex;
  justify-content: center;
}
